# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [12]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\natalia\appdata\roaming\python\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import numpy as np
import pandas as pd

In [14]:

file_name= 'Energy Indicators.xls'
column_names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy= pd.read_excel(file_name,skiprows= 17,skipfooter=38,usecols="C:F", names=column_names)
#energy = energy.drop(energy.columns[:2], axis=1)
energy.head(20)
#energy.tail()

                Country Energy Supply Energy Supply per Capita  % Renewable
0           Afghanistan           321                       10    78.669280
1               Albania           102                       35   100.000000
2               Algeria          1959                       51     0.551010
3        American Samoa           ...                      ...     0.641026
4               Andorra             9                      121    88.695650
5                Angola           642                       27    70.909090
6              Anguilla             2                      136     0.000000
7   Antigua and Barbuda             8                       84     0.000000
8             Argentina          3378                       79    24.064520
9               Armenia           143                       48    28.236060
10                Aruba            12                      120    14.870690
11           Australia1          5386                      231    11.810810
12              Austria          1391                      164    72.452820
13           Azerbaijan           567                       60     6.384345
14              Bahamas            45                      118     0.000000
15              Bahrain           574                      425     0.000000
16           Bangladesh          1625                       10     1.966329
17             Barbados            19                       69     0.000000
18              Belarus          1142                      120     0.463389
19              Belgium          2338                      210     9.959739

In [15]:
print(type(energy['Energy Supply'][0]))
print(type(energy['Energy Supply'][3]))

<class 'int'>
<class 'str'>

In [16]:
print(energy.dtypes)
energy['Energy Supply']=energy['Energy Supply'].apply(lambda x: x*1000000 if type(x)==int else (np.NaN if type(x)==str and x=='...' else x))
energy['Energy Supply per Capita']=energy['Energy Supply per Capita'].apply(lambda x: np.NaN if type(x)==str and x=='...' else x)
print(energy.dtypes)
energy.head()

Country                      object
Energy Supply                object
Energy Supply per Capita     object
% Renewable                 float64
dtype: object
Country                      object
Energy Supply               float64
Energy Supply per Capita    float64
% Renewable                 float64
dtype: object

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [17]:
energy['Country']=energy['Country'].apply(lambda x: np.NaN if type(x)==str and x=='...' else x)

In [18]:
country_dict={'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',    
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China': 'Hong Kong',
              'Russian Federation':'Mordovia',
              
}

# removing numbers
energy['Country']=energy['Country'].apply(lambda x: ''.join([char for char in x if not char.isdigit()]))
# removing everything in ()
energy['Country']=energy['Country'].apply(lambda x: x[:(x.find('(')-1)] if x.find('(')!=-1 else x)
# changing names
energy['Country']=energy['Country'].apply(lambda x: country_dict[x] if x in country_dict  else x)
#testing changes
energy['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Hong Kong',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'South Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Mordovia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
import os
cwd= os.getcwd()
file_name=os.path.join(cwd,'banks/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26433.csv')
GDP=pd.read_csv(file_name,skiprows= 4)
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN

In [20]:
GDP['Country Name']=GDP['Country Name'].apply(lambda x: country_dict[x] if x in country_dict  else x)
GDP['Country Name']=GDP['Country Name'].apply(lambda x: x[:(x.find('(')-1)] if x.find('(')!=-1 else x)

GDP['Country Name'].unique()
#GDP[GDP['Country Name'].str.find('Korea')>0]

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'East Asia & Pacific',
       'Early-demographic dividend', 'Europe & Central Asia', 'Ecuador',
       'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia',
       'Ethiopia', 'European Union',
       'Fragile and conflict affected situations', 'Finland', 'Fiji',
       'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong', 'Honduras',
       'Heavily indebted poor countries', 'Croatia', 'Haiti', 'Hungary',
       'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend',
       'Indonesia', 'IDA only', 'Isle of Man', 'India', 'Not classified',
       'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica',
       'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic',
       'Cambodia', 'Kiribati', 'St. Kitts and Nevis', 'South Korea',
       'Kuwait', 'Latin America & Caribbean', 'Lao PDR', 'Lebanon',
       'Liberia', 'Libya', 'St. Lucia',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin', 'Morocco', 'Monaco', 'Moldova', 'Madagascar',
       'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Mordovia', 'Rwanda', 'South Asia', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa', 'South Sudan', 'Small states',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands',
       'Viet Nam', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [21]:
file_name= 'scimagojr.xlsx'
ScimEn= pd.read_excel(file_name)
ScimEn['Country']=ScimEn['Country'].apply(lambda x: country_dict[x] if x in country_dict  else x)

ScimEn.head(20)

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226
5,6,Germany,Western Europe,38739,38013,433148,95145,11.18,196
6,7,Mordovia,Eastern Europe,36735,36560,115938,54993,3.16,90
7,8,Canada,Northern America,33472,32863,568080,100953,16.97,227
8,9,Italy,Western Europe,27983,26940,352993,87828,12.61,166
9,10,South Korea,Asiatic Region,27655,27445,328488,61531,11.88,155
10,11,France,Western Europe,25232,24732,343860,65734,13.63,178
11,12,Iran,Middle East,22933,22734,307280,97038,13.40,141
12,13,Spain,Western Europe,21955,21597,352497,64588,16.06,176
13,14,Brazil,Latin America,21524,21236,183915,45172,8.54,127
14,15,Australia,Pacific Region,20614,20147,314307,51583,15.25,176
15,16,Taiwan,Asiatic Region,13362,13241,201036,27202,15.05,149
16,17,Turkey,Middle East,12828,12549,226772,46271,17.68,157
17,18,Norway,Western Europe,10862,10731,123291,24525,11.35,125
18,19,Netherlands,Western Europe,10853,10590,153253,19912,14.12,142
19,20,Malaysia,Asiatic Region,10522,10200,129455,30041,12.30,127

In [22]:
ScimEn['Country']=ScimEn['Country'].apply(lambda x: country_dict[x] if x in country_dict  else x)

In [39]:
def answer_one ():
    ScimEn_top_15 = ScimEn[ScimEn['Rank'] <= 15]
    GDP_10_years = GDP[['Country Name'] + [str(year) for year in range(2006, 2016)]]
    merged_df = pd.merge(energy, GDP_10_years, how='inner', left_on='Country', right_on='Country Name')
    merged_df = pd.merge(ScimEn_top_15, merged_df, how='inner', left_on='Country', right_on='Country')
    merged_df=merged_df.set_index('Country')
    Column_list=['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    #columns_to_keep = [col for col in Column_list if col in merged_df.columns]
    new_df=merged_df[Column_list]
    return new_df
answer_one ()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.570980,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.600470,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165.0,17.901530,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Mordovia,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109.0,33.667230,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
France,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166.0,17.020280,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Iran,12,22933,22734,307280,97038,13.40,141,9.172000e+09,119.0,5.707721,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
Spain,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106.0,37.968590,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Brazil,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12
Australia,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231.0,11.810810,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [54]:
def answer_two():
    Top15 = answer_one()
    Top15['avgGDP'] = Top15[[str(year) for year in range(2006, 2016)]].mean(axis=1).sort_values(ascending=False)
    avgGDP=pd.Series(Top15['avgGDP'])
    return avgGDP
answer_two()

Country
China             6.927707e+12
United States     1.572243e+13
India             1.602352e+12
Japan             5.239642e+12
United Kingdom    2.777505e+12
Germany           3.590729e+12
Mordovia          1.666746e+12
Canada            1.616359e+12
Italy             2.152983e+12
South Korea       1.221328e+12
France            2.692000e+12
Iran              4.567516e+11
Spain             1.406644e+12
Brazil            1.988889e+12
Australia         1.207997e+12
Name: avgGDP, dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [64]:
def answer_three():
    Top15 = answer_one()
    six_index = answer_two().index[5]
    #print(Top15.loc[six_index,'2006':'2015'])
    GDP_change=Top15['2015'][six_index]-Top15['2006'][six_index]
    return GDP_change
answer_three()

377259697286.4497

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [66]:
def answer_four():
    Top15 = answer_one()
    Top15['Ratio_Citation']=Top15['Self-citations']/Top15['Citations']
    result = (Top15['Ratio_Citation'].idxmax(), Top15['Ratio_Citation'].max())
    return result
answer_four()

('China', 0.6912289816173135)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [82]:
def answer_five():
    Top15 = answer_one()
    Top15['Estimated_population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    result=Top15['Estimated_population'].sort_values(ascending=False).index[2]
    return result
answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [91]:
def answer_six():
    Top15 = answer_one()
    Top15['Estimated_population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    Top15['Citable Documents per capita'] = Top15['Citations'] / Top15['Estimated_population']
    #print(Top15.columns)
    correlation = Top15['Citable Documents per capita'].corr(Top15['Energy Supply per Capita'])
    
    return correlation
answer_six()

0.645244285641797

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

In [100]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Mordovia':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
ContinentDict['Brazil']

'South America'

In [116]:
def answer_seven():
    Top15 = answer_one()
    Top15['Estimated_population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    Top15['Continent']=Top15.index.map(ContinentDict)
    Cont_Count=Top15.groupby('Continent').count().Rank
    Cont_sum = Top15.groupby('Continent').Estimated_population.sum()
    Cont_mean=Top15.groupby('Continent').Estimated_population.mean()
    Cont_std=Top15.groupby('Continent').Estimated_population.std()
    
    Continent_df=pd.concat([Cont_Count, Cont_sum, Cont_mean,Cont_std], axis=1)
    Continent_df.columns=['Country_Count','Continent_population','Country_avg_population','Country_std_population']
    return Continent_df
answer_seven()

,Country_Count,Continent_population,Country_avg_population,Country_std_population
Continent,,,,
Asia,5,2.898666e+09,5.797333e+08,6.790979e+08
Australia,1,2.331602e+07,2.331602e+07,NaN
Europe,6,4.579297e+08,7.632161e+07,3.464767e+07
North America,2,3.528552e+08,1.764276e+08,1.996696e+08
South America,1,2.059153e+08,2.059153e+08,NaN